Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

In [8]:
val_1 = 'tridip'
val_2 = ["Tridp","Karmakar",2025,2+3j,1]
val_3 = 100.7
val_4 =  ("Tridp","Karmakar",2025,2+3j,1)

print(type(val_1),type(val_2),type(val_3),type(val_4))

<class 'str'> <class 'list'> <class 'float'> <class 'tuple'>

Q2. Given are some following variables containing data:
(i) var1 = ' '
(ii) var2 = '[ DS , ML , Python]'
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.

What will be the data type of the above given variable.

In [27]:
var1 = ' '
var2 = '[ DS , ML , Python]'
var3 = [ 'DS' , 'ML' , 'Python' ]
var4 = 1.

print('Data type of var1 :' ,type(var1),',','var2 :' ,type(var1),',','var3 :' 
      ,type(var3),',','var4 :' ,type(var4))

Data type of var1 : <class 'str'> , var2 : <class 'str'> , var3 : <class 'list'> , var4 : <class 'float'>

Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

(i) The '/' operator is used for division. It performs normal division, return as a floating-point number. 
example: 10 / 3
The result would be 3.3333333333333335.

(ii) The '%' operator is called the modulo. It returns the remainder when one number is divided by another. 
example: 10 % 3
The remainder when dividing 10 by 3 is 1. Therefore, the result would be 1.

(iii) The '//' operator is known as the floor division operator. Division and returns the largest integer less than or equal to the division result.For example: 10 // 3
result would be 3.3333333333333335. The operator returns the 3 in int data type, 

(iv) The '**' operator is the exponentiation operator. It raises a number to the power of another number.
example: 2 ** 3
In this example, 2 to the power of 3. The result would be 8.

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [55]:
List1 = ['Tridip', b'TRIDIP', {1,'pwskills',20.3},133.6,23,(1,23,3,'tuple'),2+3j,{'key':'value'},True,['data Science','iburon']]
count = 0
for i in List1 : # iterat through for loops in list1
    count +=1
    print(f"{count} eliments :",i,"& it's Data Type :", type(i))

1 eliments : Tridip & it's Data Type : <class 'str'>
2 eliments : b'TRIDIP' & it's Data Type : <class 'bytes'>
3 eliments : {1, 20.3, 'pwskills'} & it's Data Type : <class 'set'>
4 eliments : 133.6 & it's Data Type : <class 'float'>
5 eliments : 23 & it's Data Type : <class 'int'>
6 eliments : (1, 23, 3, 'tuple') & it's Data Type : <class 'tuple'>
7 eliments : (2+3j) & it's Data Type : <class 'complex'>
8 eliments : {'key': 'value'} & it's Data Type : <class 'dict'>
9 eliments : True & it's Data Type : <class 'bool'>
10 eliments : ['data Science', 'iburon'] & it's Data Type : <class 'list'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [14]:
print("Enter A :") # Input of A
a = int(input())
print("Enter B :") # Input of B
b = int(input())
count = 0

if a % b == 0 :  # if function for else function
    while a % b == 0 :  # checking that A is purly divisible by B or not 
        a = a//b
        count += 1
    print (f"A is {count} times purly divisible by B")  # printing that how many times its divisible 
else :
    print ("A is not purely divisible by B") # printing that its not divisible by B

Enter A :

 3

Enter B :

 2

A is not purely divisible by B

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [26]:
list2 = []

for i in range(0,26): # range function genarate 25 int and using loop function iterat one by one 
    list2.append(i) # using append function i append it one by one into blank list
    if i % 3 == 0 : # if i is divisible by 3 the it will print.
        print(i)

0
3
6
9
12
15
18
21
24

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

In [33]:
## Mutable and immutable are the ability to modify or change an object after it has been created.
## Immutable objects cannot be changed once they are created. Any attempt to modify an immutable object will result in 
## creating a new object with the updated value.
## Strings and Integer are immutable. 
val3 = "Tridip"
val4 = val3 + " Karmakar"  # This creates a new string object
print("Immutable Object is :",val4)  # Output: Hello World

## Mutable objects can be modified after they are created. Changes made to a mutable object will affect the object itself. like list
list5 = [1, 2, 3]
list5.append(4)  # its add 4 to end of the list
print("mmutable Object is :",list5)

Immutable Object is : Tridip Karmakar
mmutable Object is : [1, 2, 3, 4]